.all{
    text-align: center;
    margin:2% 26%;
}
@media only screen and (max-width: 900px) {
    .all{
        margin:2% 2%;
    }
    
}

/*------heading-------*/

.head_hr{
    background-color: #C8C8C8;
    width: 210px;
    height: 1px;
    margin-top: 15px;
    display: flex;
    border: none;
}

.l1{
    margin-left: -1.8px;
}
.l2{
    margin-right: -1.8px;
}
.heading{
    display:flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:#007F61;
    font-size: 25px;
   
}
@media only screen and (max-width: 1000px) {
    .head_hr{
        width: 25%;
    }
    
}

/*--------1st Box , 2nd Box, 3rd Box--------*/

.box1{
    text-align: left;
    margin: 3% 0;
    padding: 0 50px;
    border: solid #C8C8C8 1px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.box2{
    height: 215px;
}
.rb{
    margin:30px 0px;
    display: inline-block;
    position: relative;
    top:-15px;
    
}
input[type="radio"] {
    accent-color: #007F61;
}

.rbtn{
    height: 18px;
    width: 20px;
}

.b1p{
    display: inline-block;
    padding: 20px;
}

.box1para{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
   
}
.b1price{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 200px;
    line-height: 1.5;
}

.b1off{
    display: inline-block;
    position: relative;
    top: -15px;
    right: -80px;
    text-align: right;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 200px;
}


.offprice{
    position: relative;
    top: 1px;
    left: -10px;
    width:100px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    opacity: 30%;
    text-decoration:line-through;
}

.b2p{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 360px;
    top: -145px;
}

.b2most{
    position: relative;
    top: 45px; 
    color: #007F61;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.b2off{
    position: relative;
    top: 18px; 
}

.thead{
    
    position: relative;
    top: -160px;
    left:20px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
   
    
}
th{
    padding-top: 20px;
    padding-bottom: 8px ;
    font-weight: 400;
}

td{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
}

select{
    width: 90px;
    height:30px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border:solid #D9D9D9 1px;
    border-radius: 2px;

    background-image:
      linear-gradient(45deg, transparent 50%, black 50%),
      linear-gradient(135deg, black 50%, transparent 50%);
    
    background-position:
      calc(100% - 9px) calc(1em + (-3px)),
      calc(100% - 4px) calc(1em + (-3px));
    
      
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
  }
  
  /*--------Shipping----------*/
  .shipping{
    display: flex;
  }
  .free{
    color: #007F61;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  .total{
    position: relative;
    left:48%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  .number{
    position: relative;
    left:49%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  /*---------Cart Button ---------*/

  .cartbtn{
    background-color: #007F61;
    border: none;
    border-radius: 4px 4px 4px 0;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px;
    width:100%;
    height: 60px;
    margin:3% 0 0;

  }

  .end{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
  }


  @media only screen and (max-width: 1200px) {
    .box2{
        height: 350px;
    }
    .thead{
        position: relative;
        top: -30px;
    }
    .offprice{
        display: flex;
        position: relative;
        top: -15px;
        left: 54px;
    }
    .b2p{
        display: flex;
        position: relative;
        top:-40px;
        left: 80px;
    }
    .total{
        position: relative;
        left:26%;
    }
    .number{
        position: relative;
        left:27%;
    }

    }
